.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-2000px) rotate(-720deg);
            /* transform: translateX(-2000px) rotate(-720deg); */
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
/* text pop up */

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }}

.curved-left {
      clip-path: polygon(0% 82%, 3% 81%, 6% 80%, 7% 82%, 9% 83%, 10% 84%, 12% 85%, 14% 85%, 15% 84%, 18% 85%, 20% 88%, 22% 88%, 23% 89%, 25% 88%, 27% 87%, 28% 87%, 30% 88%, 31% 89%, 32% 91%, 33% 92%, 37% 93%, 38% 92%, 41% 91%, 44% 92%, 47% 93%, 50% 91%, 52% 89%, 54% 89%, 56% 88%, 57% 88%, 60% 90%, 63% 90%, 67% 91%, 69% 93%, 72% 94%, 75% 93%, 77% 93%, 86% 91%, 100% 90%, 1% 71%, 0 0, 100% 2%, 47% 39%, 100% 4%, 100% 10%, 100% 13%, 100% 17%, 100% 20%, 100% 24%, 100% 26%, 100% 27%, 100% 29%, 100% 35%, 100% 37%, 100% 39%, 100% 42%, 100% 49%, 100% 53%, 100% 59%, 100% 85%, 52% 42%, 100% 86%, 100% 72%, 100% 72%, 100% 79%, 100% 88%, 100% 91%, 100% 90%, 100% 90%, 1% 68%, 0 0);
}
.curved-right{
       clip-path: polygon(0 90%, 3% 90%, 3% 91%, 4% 93%, 6% 95%, 8% 94%, 9% 96%, 17% 92%, 12% 90%, 18% 93%, 17% 92%, 20% 92%, 21% 92%, 25% 94%, 27% 94%, 31% 94%, 33% 90%, 35% 90%, 37% 93%, 41% 93%, 44% 94%, 46% 96%, 51% 98%, 55% 98%, 58% 99%, 63% 100%, 100% 100%, 100% 0, 70% 1%, 100% 0, 61% 0, 50% 0, 36% 0, 19% 0, 0% 0%, 0% 0%, 0% 0%);
}

/* From Uiverse.io by Na3ar-17 */ 
.button {
  border: none;
  outline: none;
  background-color: white/20;
  width: 80px;
  height: 40px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 106%;
  height: 120%;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.3s;
}

.gradient-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 106%;
  height: 115%;
  overflow: hidden;
  border-radius: inherit;
  z-index: -2;
  filter: blur(10px);
  transition: all 0.3s;
}

.gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: all 0.3s;
  background-image: linear-gradient(
    90deg,
 #52b69a,#d9ed92
  );
  animation: rotate 2s linear infinite;
  filter: blur(10px);
}



.button:hover .gradient-container {
  transform: translate(-50%, -50%) scale(0.98);
  filter: blur(5px);
}

.button:hover .gradient {
  filter: blur(5px);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;}
                @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
